@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:opsz@6..96&family=Montserrat:wght@300&family=Roboto+Condensed:ital@1&display=swap');

//colores

$azulOscuro: #020c19;
$azulRey:#0c203b;
$azulClaro: #4472c4;
$naranja: #f76d29;
$amarilloFuerte: #fe982a;
$amarilloPuro: #fdb501;
$amarilloChillon: #dbbe1a;
$amarilloPastel: #f1de75;
$grisBlanco: #f2f2fa;

//letras

$bebas: 'Bebas Neue', sans-serif;
$bodoni: 'Bodoni Moda', serif;
$mont: 'Montserrat', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

